html * {
  box-sizing: border-box;
}

body {
  font-family: 'Gloock', serif;
}

.midnight {
  background: linear-gradient(0deg, rgba(7,9,36,1) 0%, rgba(29,25,102,1) 100%);
  color: white
}

.morning {
  background: linear-gradient(0deg, rgba(231,164,89,1) 0%, rgba(254,255,175,1) 60%);
  color: rgb(27, 27, 27);
}

.afternoon {
  background: linear-gradient(0deg, rgb(160, 49, 49) 0%, rgb(255, 218, 175) 80%);
  color: rgb(27, 27, 27);
}

.evening {
  background: linear-gradient(0deg, rgb(38, 25, 78) 0%, rgb(85, 35, 47) 89%);
  color: rgb(226, 226, 226)
}

.screen {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 80px 1fr 150px 1fr;
  gap: 5px 5px;
  height: 100vh;
  width: 100vw;
  min-width: 375px;
  max-width: 750px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: 50px 30px;
  grid-template-areas: 
  "space search toggle"
  "space error empty";
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

#error {
  grid-area: error;
  justify-self: center;
  font-size: 0.75rem;
}

.space {
  grid-area: space;
}

.search {
  grid-area: search;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search {
  border: none;
  background-color: transparent;
}

#search:focus {
  border: none;
  outline: none;
}

.toggle {
  grid-area: toggle;
  justify-self: center;
  height: 32px;
  width: 32px;
  font-size: 1.75rem;
}


.toggle:hover {
  cursor: pointer;
}

.search-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

ion-icon:hover {
  cursor: pointer;
}

/* current */

.current {
 display: grid;
 grid-template: 1fr 1fr / 1fr 1fr 1fr;
 grid-template-areas:
  "loc loc temp"
  "img img temp";
 align-items: center;
}

.location {
  display: flex;
  flex-direction: column;
  grid-area: loc;
}

.text-city {
  font-size: 3rem;
  margin-left: 20px;
}

.text-country {
  font-size: 1.2rem;
  margin-left: 20px;
  font-style: italic;
}

.text-time {
  padding: 0 20px;
  margin-top: 20px;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items:baseline;
  grid-area: temp;
  margin-right: 30px;
}

.text-temp {
  font-size: 3rem;
  grid-area: temp;
}

.unit {
  font-size: 1.5rem;
  opacity: 0.75;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: img;
}

.others {
  grid-area: other;
}

/* hourly */

.hourly {
  display: grid;
  grid-template-rows: 25px 1fr;
}

#hourly-text {
  font-size: 0.8rem;
  margin-left: 20px;
}

.hours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
}

.hour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 3px;
  height: 100%;
}


/* forecast */

.forecast-text {
  margin-left: 20px;
  font-size: 0.8rem;
}

.forecast {
  margin-top: 10px;
  display: grid;
  grid-template-rows: 25px 1fr;
  gap: 5px;
}

.days {
  margin-bottom: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  gap: 5px;
  padding: 0 30px;
}

.day {
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: center;
  width: 100%;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left span {
  font-size: 2rem;
}

.middle {
  display: flex;
  justify-content: center;
}

.middle span {
  font-size: 0.8rem;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.right span {
  font-size: 0.8rem;
}

input {
  height: 2rem;
}

#icon {
  height: 64px;
}

ion-icon {
  font-size: 2rem;
}

img {
  opacity: 1;
  scale: 1;
}