html * {
  box-sizing: border-box;
}

body {
  font-family: 'Slabo 27px', serif;
}

.screen {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 80px 1fr 150px 1fr;
  gap: 5px 5px;
  height: 100vh;
  width: 100vw;
  min-width: 375px;
  max-width: 750px;
  border: 2px solid red;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: 2fr 1fr;
  grid-template-areas: 
  "space search toggle"
  "space error toggle";
  justify-content: center;
  align-items: center;
}

#error {
  grid-area: error;
  justify-self: center;
}

.space {
  grid-area: space;
}

.search {
  grid-area: search;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle {
  grid-area: toggle;
  justify-self: center;
  background-color: lightgreen;
  padding: 1rem;
  font-size: 1.5rem;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}


.toggle:hover {
  cursor: pointer;
}

.search-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

ion-icon:hover {
  cursor: pointer;
}

/* current */

.current {
 display: grid;
 grid-template: 1fr 1fr / 1fr 1fr 1fr;
 grid-template-areas:
  "loc loc temp"
  "img other temp";
 align-items: center;
}

.location {
  display: flex;
  flex-direction: column;
  grid-area: loc;
}

.text-city {
  font-size: 2.5rem;
  margin-left: 10px;
}

.text-country {
  font-size: 1.25rem;
  margin-left: 10px;
}

.text-time {
  font-size: 1.25;
  margin-left: 10px;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items:baseline;
  grid-area: temp;
}

.text-temp {
  font-size: 3rem;
  grid-area: temp;
}

.unit {
  font-size: 1.5rem;
  opacity: 0.75;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.others {
  grid-area: other;
}

/* hourly */

.hourly {
  display: grid;
  grid-template-rows: 25px 1fr;
  padding: 0 5px;
}

.hours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.hour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 3px;
  height: 100%;
}


/* forecast */

.forecast {
  margin-top: 10px;
  display: grid;
  grid-template-rows: 25px 1fr;
  gap: 5px;
  padding: 0 5px;
}

.days {
  margin-bottom: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  gap: 5px;
}

.day {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: center;
  width: 100%;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.left span {
  font-size: 2rem;
}

.middle {
  display: flex;
  justify-content: center;
  font-style: italic;
}

.right {
  display: flex;
  flex-direction: column;
}

input {
  height: 2rem;
}

#icon {
  height: 64px;
}

ion-icon {
  font-size: 2rem;
}
